.index-title {
  font-size: 100px;
}
.content{
  width: calc(100% - 296px);
  margin-left: auto;
}
.pl-calc-3.pl-calc-3.pl-calc-3{
  padding-left: 21px;
}
.h-345{
  height: 345px;
}
.header-width{
  width: 296px;
}